<div id="<%= dom_id question %>">
  <p>
    <strong>Question text:</strong>
    <%= question.question_text %>
  </p>

  <p>
    <strong>Difficulty level:</strong>
    <%= question.difficulty_level %>
  </p>

  <p>
    <strong>Correct answer:</strong>
    <%= question.correct_answer %>
  </p>

  <p>
    <strong>Mark:</strong>
    <%= question.mark %>
  </p>

</div>
