<div id="<%= dom_id profile %>">
  <p>
    <strong>Usre:</strong>
    <%= profile.usre_id %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= profile.first_name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= profile.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= profile.age %>
  </p>

</div>
