<h1>All Profiles</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.first_name %></td>
        <td><%= profile.last_name %></td>
        <td><%= profile.age %></td>
        <td><%= profile.user&.email %></td>
        <td>
          <%= link_to 'Show', profile_path(profile) %> |
          <%= link_to 'Edit', edit_profile_path(profile) %> |
          <%= link_to 'Delete', profile_path(profile), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
